@charset "UTF-8";

body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 160px;
    padding: 0 30px;
    background-color: #30303b;
}

.nav-container {
position: absolute;
bottom: 0;
left: 0;
right: 0;
}

.navbar-ankr {
text-align: center;
border: none;
border-radius: 0;
padding: 0 80px 0 121px;
min-height: auto;
margin-bottom: 0;
background: none;
}
.logo{
    float: left;
    max-width: 150px !important;
    padding: 20px 30px 20px 30px;
}

#manu-manu-1  ul{
    display: flex !important;
flex-direction:row !important;
}
.navbar-ankr ul {
float: none;
display: flex !important;
flex-direction:row !important;
margin-left: -243px;
justify-content: center;
align-items: center;

}
.navbar-ankr li {
margin: 65px 10px;
color: #fff !important;
font-size: 17px;
float: none;
display: inline-block;
}
.navbar-ankr li a{
    color: #fff;
    font-weight: 400;
}
.navbar-ankr li a:hover{
    background: none;
    color: #857443 !important;
    border-bottom: 2px solid #857443;
}
.navbar-ankr li.active a {
opacity: 1;
}

.header__cta{
    margin: 40px 10px ;
}
.header__cta a{
    padding: 10px;
    background-color: #857443;
    font-weight: 700;
    border-radius: 0;
    font-size: 20px;
    color: #fff !important;
}

.sunset-posts-container{
    margin: 0;
    padding: 0;
    width: 100%;
}
.post{
    margin: 0;
}

/* 
	STANDARD POST FORMAT 
	------------------------------------------------
*/

.sunset-posts-container{
    max-width: 1300px !important;
}
#post-29 .entry-header{
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: center;
}
#post-32{
    background-color: #30303b;
}

#post-32 .entry-header {
    display: flex;
    justify-content: start;
    padding-left: 38px;
}

#post-32 a{
    color: #fff;
}
#post-32 .entry-content p{
    color: #fff;
}
#post-48, #post-32{
    padding: 25px;
}
#post-48 h1 {
    display: flex;
    justify-content: start;
    padding-left: 25px;
}

.format-standard{
    background-color: #f4f4f4;
}
.entry-header{
    padding: 15px;
    
}
.entry-header a{
    color: #000;
    font-size: 35px;
}
.entry-content{
    padding: 0 20px;
}
.entry-content p{
    color: #000;
    font-size: 20px;
}

/* 
	Image Post Format 
	------------------------------------------------
*/
.sunset-format-image {
    margin: 50px auto 0;

  }
  .sunset-format-image .entry-header {
    height: 800px;
    width: 100%;
    position: relative;
    padding: 50px 400px 20px 20px;
  }
  @media (max-width: 767px) {
    .sunset-format-image .entry-header {
      height: 220px;
    }
  }
  .sunset-format-image h1,
  .sunset-format-image .entry-meta,
  .sunset-format-image .entry-header {
    color: #ffffff;
  }
  .sunset-format-image h1 a,
  .sunset-format-image .entry-meta a,
  .sunset-format-image .entry-header a {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
  }
  .sunset-format-image h1 {
    padding-top: 10px;
  }
  
  .entry-excerpt.image-caption {
   width: 100%;
  }
  .entry-excerpt.image-caption p {
    margin: 15px 0 0 20px;
    font-size: 40px;
    color: #fff;


  }

/* Video Gallery */
.video__gallery p {
    display: flex;
    justify-content: center;
}
.video {
    flex: 1 1 calc(50% - 20px); /* Adjust the width as needed */
}
/*footer styles */
.footer__top{
    padding: 45px 10px;
    display: flex;
    justify-content: space-between;
}

.footer__links{
    display: flex;
    flex-direction: column;
}

.footer__top .footer__links a{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: white !important;

}

.footer__social{
    display: flex;
    flex-direction: column;
}
.footer__social h6{
    color: #fff;
    margin-top: 18px;
    font-size: 12px;
}
.footer__social .footer__social--links a{
    font-size: 18px;
    font-weight: 500;
    color: white !important;
    margin: 2px 7px;
}